---
import Layout from "/src/layouts/Layout.astro";
import "/src/css/experience.css";
---

<Layout title="Experiencia">
    <div class="gj:layout:container">
        <div class="gj:experience:container">
            <ul class="gj:experience:list">
                <li class="gj:experience:list-item gj:experience:list-item:active">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">MacStore</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo Frontend</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">Grupo Educativo Intelimundo</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo FullStack</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">Industria IUISA</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo Frontend</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">TecNM Milpa Alta II</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo Frontend</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">MacStore</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo Frontend</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">Grupo Educativo Intelimundo</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo FullStack</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">Industria IUISA</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo Frontend</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>

                <li class="gj:experience:list-item">
                    <div class="gj:experience:list-item:left">
                        <p class="gj:experience:business-name-wrapper">
                            <span class="gj:experience:business-name-underline"></span>
                            <span class="gj:experience:business-name">TecNM Milpa Alta II</span>
                        </p>
                        <span class="gj:experience:position">Desarrollo Frontend</span>
                    </div>
                    <div class="gj:experience:list-item:right">
                        <a class="gj:experience:location" href="#">
                            <span class="gj:layout:svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0M12 13a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></svg>
                            </span>
                            Ciudad de México
                        </a>
                        <span class="gj:experience:date">17-16-2024 al 17-06-2026</span>
                    </div>
                    <a class="gj:experience:list-item:link" href="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.364 15.536L16.95 14.12l1.414-1.414a5 5 0 0 0-7.071-7.071L9.878 7.05L8.464 5.636l1.414-1.414a7 7 0 0 1 9.9 9.9zm-2.829 2.828l-1.414 1.414a7 7 0 0 1-9.9-9.9l1.415-1.414L7.05 9.88l-1.414 1.414a5 5 0 0 0 7.07 7.071l1.415-1.414zm-.707-10.607l1.415 1.415l-7.072 7.07l-1.414-1.414z" /></svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</Layout>

<script src="./src/js/experience.js" type="module" is:inline></script>
