---
import Layout from "./src/layouts/Layout.astro"
import "./src/css/skills.css";
import data from "./src/data/data.js";

const { skills } = data;

// const randomClass = () => {
//     const comboClass = ["", "gj:skills:grid:span-col-2", "gj:skills:grid:span-row-2", "gj:skills:grid:span-row-col-2", "gj:skills:grid:span-row-col-1", ""];
//     return comboClass[Math.round(Math.random() * (5 - 1) + 1) - 1];
// }

const commasToArray = ({ stringCommas }) => {
    return stringCommas.split(",");
}

const xitems = () => {
    console.log("adios");
}
---

<Layout title="Habilidades">
    <h1 class="gj:skills:title">Habilidades</h1>
    <div class="gj:skills:wrapper">
        <div class="gj:skills:menu">
            <div class="gj:skills:nav">
                <ul class="gj:skills:nav-list" id="gjSkillsNavList">
                    <li class="gj:skills:nav-button gj:skills:nav-button-active" data-target="#">
                        <span class="gj:layout:svg-wrapper">
                            <svg class="gj:skills:icon-selected" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10"/></svg>
                            <svg class="gj:skills:icon-no-selected" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"/></svg>
                        </span>
                        Habilidades ténicas
                    </li>
                    <li class="gj:skills:nav-button">
                        <span class="gj:layout:svg-wrapper">
                            <svg class="gj:skills:icon-selected" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10"/></svg>
                            <svg class="gj:skills:icon-no-selected" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16"/></svg>
                        </span>
                        Habilidades blandas
                    </li>
                </ul>
            </div>
            <div class="gj:skills:menubox">
                <ul class="gj:skills:menubox-list" onclick="xitems()">
                    {
                        Object.keys(skills.technical).map((technical) => (
                            <li class={ "gj:skills:menubox-list-item "} style={ "--gj-emphasis-color:" + skills.technical[technical].emphasis_color + ";"}>
                                <span class="gj:layout:svg-wrapper">
                                    <svg class="gj:skills:menubox-icon" style={ "--gj-emphasis-color:" + skills.technical[technical].emphasis_color + ";"}><use href={ "./src/assets/icons/gj.svg#" + skills.technical[technical].icon }></use></svg>
                                </span>
                            </li>
                        ))
                    }
                </ul>
                
                <div class="gj:skills:corner">
                    <span class="gj:skills:corner-circle"></span>
                </div>
            </div>
        </div>
        <div class="gj:skills:menu-content">
            <div class="gj:skills:gost-nav"></div>
            <div class="gj:skills:content">
                <p class="gj:skills:content-title">{ skills.technical["bootstrap"].title }</p>
                <div class="gj:skills:content-load-bar">
                    <span class="gj:skills:content-load-bar-status" style={ "--gj-percentage:" + skills.technical["bootstrap"].percentage_experience + "%;--gj-percentage-color:" + skills.technical["bootstrap"].emphasis_color + ";" }></span>
                </div>
                <div class="gj:skills:content-list-wrapper">
                    <ul class="gj:skills:content-list">
                        {
                            commasToArray({ stringCommas : skills.technical["bootstrap"].mastered_topics }).map((mastered_topic) => (
                                <li style={ "--gj-marker-color:" + skills.technical["bootstrap"].emphasis_color + ";" }>{ mastered_topic }</li>
                            ))
                        }
                    </ul>
                </div>
                <div class="gj:skills:nav-footer-buttons-wrapper" style={ "--gj-icon-color:" + skills.technical["bootstrap"].emphasis_color + ";" }>
                    <div class="gj:skills:nav-footer-buttons">
                        <button class="gj:skills:nav-footer-button" type="button">
                            <span class="gj:layout:svg-wrapper">
                                <svg width="8" height="16"><use href="./src/assets/icons/gj.svg#iconArrowLeft"></use></svg>
                            </span>
                        </button>
                        <button class="gj:skills:nav-footer-button" type="button">
                            <span class="gj:layout:svg-wrapper">
                                <svg width="8" height="16"><use href="./src/assets/icons/gj.svg#iconArrowRight"></use></svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script src="/src/js/skills.js" is:inline></script>