---
import Layout from "/src/layouts/Layout.astro"
import "./src/css/home.css";
import "swiper/css/bundle";
---

<Layout title="Inicio">
    <div class="gj:layout:container">
        <div class="gj:home:container">
            <div class="gj:home:section-left">
                <div class="gj:home:profile">
                    <div class="gj:home:profile-gost-circle-1"></div>
                    <div class="gj:home:profile-gost-circle-2"></div>
                    <div class="gj:home:profile-me">
                        <picture>
                            <source srcset="/src/assets/img/circle-me.jpg">
                            <img src="/src/assets/img/circle-me.jpg" alt="Me" width="1000" height="1000" loading="lazy" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="gj:home:section-right">
                <div class="">
                    <div class="swiper gj-swiper-home-profile">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gj:home:swiper-card">
                                    <p class="gj:home:swiper-card:names">MacStore <span class="gj:home:swiper-card:surname">Sendero</span></p>
                                    <cite class="gj:home:swiper-card:cite">"Some short phrase goes here" <span class="gj:home:swiper-card:cite-autor">Written by someone</span></cite>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gj:home:swiper-card">
                                    <p class="gj:home-swiper-text">¡Hola! Soy desarrollador frontend con pasión por crear experiencias web atractivas, funcionales y accesibles.</p>
                                    <button class="gj:home:swiper-card:button" type="button">
                                        <p class="gj:home:swiper-card:button-text">
                                            <span class="gj:layout:svg-wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13 13v5.585l1.828-1.828l1.415 1.415L12 22.414l-4.243-4.242l1.415-1.415L11 18.585V13zM12 2a7 7 0 0 1 6.954 6.194A5.5 5.5 0 0 1 18 18.978V17a6 6 0 0 0-11.996-.225L6 17v1.978a5.5 5.5 0 0 1-.954-10.784A7 7 0 0 1 12 2" /></svg>
                                            </span>
                                            Descargar C.V
                                        </p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination gj-home-swiper-pagination"></div>
                        <div class="swiper-button-prev gj-home-swiper-prev"></div>
                        <div class="swiper-button-next gj-home-swiper-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script src="/src/js/home.js" is:inline type="module"></script>