---
import "./src/css/loader-mask.css";
---

<div class="gj:lm:wrapper" id="gjLoderMask">
    <div class="gj:lm:section" id="gjLoaderMaskSection">
        <svg class="gj:lm:logo" viewBox="0 0 320 223" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M107.49 223C92.453 223 78.3437 220.216 65.1626 214.648C52.1672 208.894 40.7498 201.006 30.9105 190.984C21.2568 180.776 13.6452 168.897 8.07571 155.348C2.6919 141.799 0 127.137 0 111.361C0 95.7703 2.6919 81.2934 8.07571 67.9301C13.6452 54.3812 21.2568 42.5955 30.9105 32.573C40.7498 22.365 52.1672 14.3841 65.1626 8.63045C78.158 2.87682 92.2673 0 107.49 0C121.785 0 134.038 1.85601 144.249 5.56803C154.645 9.28006 165.042 15.4049 175.438 23.9426C176.923 25.0562 178.037 26.2626 178.78 27.5618C179.708 28.6754 180.265 29.8818 180.45 31.181C180.822 32.2946 181.007 33.6866 181.007 35.357C181.007 38.8835 179.708 41.8531 177.109 44.2659C174.695 46.6787 171.632 47.9779 167.919 48.1635C164.392 48.3491 161.05 47.1427 157.894 44.5443C151.025 38.6051 143.878 34.0578 136.452 30.9026C129.211 27.7474 119.558 26.1698 107.49 26.1698C96.5372 26.1698 86.2337 28.397 76.58 32.8514C66.9263 37.3059 58.3865 43.4307 50.9605 51.226C43.7202 59.0212 38.0579 68.1157 33.9737 78.5094C29.8894 88.7174 27.8473 99.6679 27.8473 111.361C27.8473 123.239 29.8894 134.375 33.9737 144.769C38.0579 154.977 43.7202 163.979 50.9605 171.774C58.3865 179.569 66.9263 185.694 76.58 190.149C86.2337 194.417 96.5372 196.552 107.49 196.552C116.959 196.552 125.87 194.974 134.224 191.819C142.764 188.478 150.932 183.931 158.729 178.177C162.071 175.764 165.32 174.744 168.476 175.115C171.818 175.3 174.602 176.6 176.83 179.012C179.058 181.24 180.172 184.395 180.172 188.478C180.172 190.334 179.801 192.19 179.058 194.046C178.501 195.717 177.387 197.294 175.716 198.779C165.877 206.945 155.202 213.07 143.692 217.154C132.182 221.051 120.115 223 107.49 223ZM180.172 188.478L152.325 182.91V133.076H113.895C109.811 133.076 106.377 131.87 103.592 129.457C100.807 127.044 99.4148 123.982 99.4148 120.27C99.4148 116.558 100.807 113.495 103.592 111.082C106.377 108.67 109.811 107.463 113.895 107.463H165.97C170.24 107.463 173.674 108.855 176.273 111.639C178.872 114.238 180.172 117.671 180.172 121.94V188.478Z" fill="white"/>
            <path d="M320 127.821C320 140.813 317.215 152.413 311.646 162.622C305.891 172.644 298.001 180.532 287.976 186.286C277.765 191.854 266.162 194.638 253.167 194.638C248.897 194.638 245.462 193.246 242.863 190.462C240.078 187.678 238.686 184.244 238.686 180.161C238.686 175.892 240.078 172.458 242.863 169.86C245.462 167.076 248.897 165.684 253.167 165.684C261.149 165.684 268.204 164.106 274.33 160.951C280.457 157.61 285.284 153.156 288.811 147.588C292.153 141.834 293.824 135.245 293.824 127.821C293.824 120.397 292.153 113.808 288.811 108.055C285.284 102.301 280.457 97.8467 274.33 94.6915C268.204 91.3506 261.149 89.6802 253.167 89.6802L114.209 89.6802C109.939 89.6802 106.504 88.381 103.905 85.7826C101.12 82.9986 99.728 79.565 99.728 75.4817C99.728 71.2129 101.12 67.6865 103.905 64.9025C106.504 62.1184 109.939 60.7264 114.209 60.7264L253.167 60.7264C266.162 60.7264 277.765 63.6032 287.976 69.3569C298.001 75.1105 305.891 82.9986 311.646 93.021C317.215 103.044 320 114.644 320 127.821Z" fill="#242424"/>
            <path d="M278.055 128.865C278.055 138.475 270.263 146.265 260.65 146.265C251.038 146.265 243.246 138.475 243.246 128.865C243.246 119.255 251.038 111.465 260.65 111.465C270.263 111.465 278.055 119.255 278.055 128.865Z" fill="white"/>
        </svg>
        <p class="gj:lm:complete-name">Guillermo Jiménez</p>
        <div class="gj:lm:bullets">
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
            <div class="gj:lm:bullet"></div>
        </div>
    </div>
</div>