.gj\:path\:about-me
.gj\:home\:shining {
    display: none;
}

.gj\:about-me\:container {
    margin-inline: auto;
    max-width: 1220px;
    width: 100%;
}

.gj\:about-me\:header {
    height: 320px;
    margin-top: 100px;
    position: relative;
    width: 100%;
}

.gj\:about-me\:header-splash {
    filter: blur(48px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 96px;
    position: absolute;
    top: -100px;
    width: 100%;
    z-index: 1;
}

.gj\:about-me\:header-wrapper {
    display: flex;
    align-items: flex-end;
    background-image: url("/src/assets/img/banner-about-me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 1px -200px 34px -101px var(--gj-main-bg) inset;
    border-radius: 16px 16px 0 0;
    flex-direction: row;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: 1px -200px 34px -101px var(--gj-main-bg) inset;
    -moz-box-shadow: 1px -200px 34px -101px var(--gj-main-bg) inset;
}

.gj\:about-me\:header\:profile-wrapper {
    height: 100%;
    max-height: 320px;
    max-width: 320px;
    padding: 24px;
    width: 100%;
}

.gj\:about-me\:header-profile-circle {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    backdrop-filter: blur(64px);
    height: 100%;
    max-height: 320px;
    max-width: 320px;
    overflow: hidden;
    padding: 16px;
    width: 100%;
}

.gj\:about-me\:header-profile-img {
    background-color: var(--gj-light-bg);
    border-radius: 100%;
    height: 100%;
    max-height: 320px;
    max-width: 320px;
    object-fit: cover;
    width: 100%;
}

.gj\:about-me\:header-details-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 24px;
    width: 100%;
}

.gj\:about-me\:header\:names {
    color: var(--gj-fonts-light);
    font-weight: 700;
    font-size: 36px;
}

.gj\:about-me\:header\:career {
    color: var(--gj-fonts-light);
    font-size: 18px;
}

.gj\:about-me\:header\:birthday {
    color: var(--gj-gray);
}

.gj\:about-me\:header\:years {
    color: var(--gj-fonts-light);
    font-size: 20px;
}

.gj\:about-me\:header-details-main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 14px;
}

.gj\:about-me\:section {
    margin-top: 80px;
}

.gj\:about-me\:section-title {
    color: var(--gj-fonts-light);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 24px;
}

.gj:about-me:section:carousel-section {
    display: flex;
    align-items: center;
    flex-direction: row;
}