.gj\:home\:container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.gj\:home\:section-left,
.gj\:home\:section-right {
    height: 100%;
    max-width: 50%;
    width: 100%;
}

.gj\:home\:section-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.gj\:home\:section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gj\:home\:section-right-wrapper {
    position: relative;
}

.gj\:home\:profile-gost-circle-1,
.gj\:home\:profile-gost-circle-2 {
    display: block;
    aspect-ratio: 1/1;
    backdrop-filter: blur(16px);
}

.gj\:home\:profile-gost-circle-1 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    height: 100%;
    left: 50%;
    max-height: calc(100vh - 480px);
    max-width: calc(100vh - 480px);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 4s ease-in-out;
    width: 100%;
    z-index: -1;
}

.gj\:home\:profile-gost-circle-2 {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    height: 100%;
    left: 50%;
    max-height: calc(100vh - 450px);
    max-width: calc(100vh - 450px);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 3s linear;
    width: 100%;
    z-index: -2;
}

.gj\:home\:profile {
    /* width: 100%; */
}

.gj\:home\:profile-me {
    background-color: var(--gj-second-bg);
    border-radius: 100%;
    
    border: 8px solid #ffffff77;
    height: 100%;
    max-height: 480px;
    max-width: 480px;
    overflow: hidden;
    width: 100%;
}

.gj\:home\:profile-me img {
    aspect-ratio: 1/1;
    animation: profileM 10s ease-in-out;
    display: block;
    height: 100%;
    max-height: calc(100vh - 480px);
    max-width: calc(100vh - 480px);
    object-fit: cover;
    object-position: center center;
    transition: all 1s ease;
    width: 100%;
}

@keyframes profileM {
    from {
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    }

    to {
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }
}

.gj\:home\:swiper-card\:names {
    display: flex;
    align-items: center;
    color: var(--gj-fonts-light);
    font-size: 100px;
    font-weight: 300;
    flex-direction: column;
    justify-content: center;
    /* margin-inline: auto; */
    margin-bottom: 80px;
    width: fit-content;
}

.gj\:home\:swiper-card\:surname {
    display: block;
    font-size: 50px;
    font-weight: 900;
    margin-left: auto;
}

.gj\:home\:swiper-card\:cite {
    color: var(--gj-fonts-light);
}

.gj\:home-swiper-text {
    color: var(--gj-fonts-light);
    font-size: 24px;
    max-width: 600px;
    width: 100%;
}

.gj\:home\:swiper-card\:button {
    background-color: transparent;
    border-radius: 16px;
    border: 2px dashed var(--gj-fonts-light);
    color: var(--gj-fonts-light);
    padding-inline: 48px;
    padding-block: 8px;
}

.gj\:home\:swiper-card\:button-text {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
    justify-content: center;
}

.gj\:home\:swiper-controllers {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 80px;
    margin-inline: auto;
    position: relative;
    width: fit-content;
}

.gj\:home\:swiper-controllers
.gj\:home\:swiper-prev,
.gj\:home\:swiper-controllers
.gj\:home\:swiper-next,
.gj\:home\:swiper-controllers
.gj\:home\:swiper-pagination {
    margin-top: 0;
    position: static;
}

.gj\:home\:swiper-controllers
.gj\:home\:swiper-pagination {
    background-color: var(--gj-second-bg);
    border-radius: 100px;
    padding-block: 8px;
    padding-inline: 24px;
    width: fit-content !important;
}

.gj\:home\:swiper-controllers
.gj\:home\:swiper-pagination
.swiper-pagination-bullet {
    background-color: var(--gj-light-bg);
    height: 10px;
    width: 10px;
}

.gj\:home\:swiper-controllers
.gj\:home\:swiper-prev,
.gj\:home\:swiper-controllers
.gj\:home\:swiper-next {
    background-color: var(--gj-second-bg);
    border-radius: 100%;
    height: 32px;
    width: 32px;
}

.gj\:home\:swiper-controllers
.gj\:home\:swiper-prev
svg,
.gj\:home\:swiper-controllers
.gj\:home\:swiper-next
svg {
    color: var(--gj-fonts-light);
    height: 12px;
    min-height: 12px;
    min-width: 12px;
    max-height: 12px;
    max-width: 12px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .gj\:home\:container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .gj\:home\:section-left,
    .gj\:home\:section-right {
        max-width: 100%;
    }

    .gj\:home\:section-left {
        padding-block: 48px;
    }

    .gj\:home\:profile {
        padding-inline: 64px;
    }
}

@media only screen and (max-height: 768px) {
    .gj\:home\:profile-gost-circle-1 {

    }

    .gj\:home\:profile-me
    img {
        max-height: calc(100vh - 280px);
        max-width: calc(100vh - 280px);
    }
}