@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/comfortaa/Comfortaa-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/comfortaa/Comfortaa-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./src/assets/fonts/comfortaa/Comfortaa-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
    --gj-main-bg: #161616;
    --gj-light-bg: #ffffff;
    --gj-second-bg: #242424;
    --gj-fonts-light: #ffffff;
    --gj-black: #000000;
}

:root[dark-mode="true"] {
    --gj-main-bg: #ffffff;
    --gj-light-bg: #fffff;
    --gj-second-bg: #a8a8a8;
    --gj-fonts-light: #000000;
    --gj-black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gj-main-bg);
    font-family: "Comfortaa";
    font-weight: 400;
    letter-spacing: -0.02em;
    position: relative;
    transition: background 4s ease-in-out;
}

h1 {
    margin-top: 100px;
    text-align: center;
    color: var(--gj-fonts-light);
}

.gj\:layout\:base {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.gj\:layout\:base-main {
    flex-grow: 1;
}

.gj\:layout\:container {
    height: 100%;
    overflow-y: auto;
    max-width: 1280px;
    margin-inline: auto;
    position: relative;
    width: 100%;
}

.gj\:layout\:svg-wrapper {
    display: block;
}

.gj\:layout\:header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 24px;
}

.gj\:layout\:header-menu-button,
.gj\:layout\:header-share-button,
.gj\:layout\:header-theme-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.gj\:layout\:header-menu {
    position: relative;
    top: -22px;
}

.gj\:layout\:header-menu-button {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
}

.gj\:layout\:header-menu-logo {
    display: block;
    height: auto;
    max-width: 80px;
    width: 100%;
}

.gj\:layout\:header-options {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.gj\:layout\:header-share-button {
    background-color: var(--gj-black);
    border-radius: 16px;
    padding: 8px;
}

.gj\:layout\:header-share-icon {
    display: block;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
}

.gj\:layout\:header-share {
    display: flex;
    align-items: center;
    background-color: var(--gj-second-bg);
    border-radius: 16px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.gj\:layout\:header-share-list {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    padding-inline: 8px;
}

.gj\:layout\:header-share-list-icon {
    height: 16px;
    width: 16px;
}

.gj\:layout\:header-theme-button {
    display: flex;
    align-items: center;
    column-gap: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.gj\:layout\:header-themes {
    border-radius: 16px;
    background-color: var(--gj-second-bg);
    padding-block: 8px;
    padding-inline: 16px;
    position: relative;
}

.gj\:layout\:header-switch-theme {
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.gj\:layout\:header-theme-icon-light {
    display: none;
}

.gj\:layout\:header-theme-status-light {
    display: none;
}

.gj\:layout\:header-switch-theme:checked ~ .gj\:layout\:header-theme-button
.gj\:layout\:header-theme-icon-dark {
    display: none;
}

.gj\:layout\:header-switch-theme:checked ~ .gj\:layout\:header-theme-button
.gj\:layout\:header-theme-icon-light {
    display: block;
}

.gj\:layout\:header-switch-theme:checked ~ .gj\:layout\:header-theme-button
.gj\:layout\:header-theme-status-dark {
    display: none;
}

.gj\:layout\:header-switch-theme:checked ~ .gj\:layout\:header-theme-button
.gj\:layout\:header-theme-status-light {
    display: block;
}

.gj\:layout\:header-theme-icon {
    height: 24px;
    width: 24px;
}

.gj\:layout\:header-theme-status {
    color: var(--gj-fonts-light)
}

.gj\:layout\:header-theme-flag {
    height: 24px;
    width: 24px;
}

.gj\:layout\:footer {
    width: fit-content;
    margin-inline: auto;
    padding-block: 24px;
}

.gj\:layout\:footer-menu-list {
    display: flex;
    column-gap: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

.gj\:layout\:footer-menu-button {
    display: block;
    background-color: var(--gj-second-bg);
    border-radius: 16px;
    padding: 8px;
    position: relative;
}

.gj\:layout\:footer-menu-icon {
    display: block;
    color: var(--gj-fonts-light);
    height: 36px;
    width: 36px;
}

.gj\:layout\:footer-menu-button:hover {
    background-color: var(--gj-light-bg);
}

.gj\:layout\:footer-menu-button:hover
.gj\:layout\:footer-menu-button::before {
    display: block;
    background-color: var(--gj-black);
    border-radius: 100%;
    content: "gfhfdghdgf";
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 2;
}

/* .gj\:path\:home
body {
    background-color: var(--gj-main-bg);
    background-image: url("./src/assets/img/base-background.jpg");
    background-position: center;
    background-size: cover;
} */

.gj\:path\:home
.gj\:layout\:base {
    background-color: rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(16px);
}
