.gj\:projects\:container {

}

.gj\:swiper\:projects-wrapper {
    position: relative;
}


.gj\:swiper\:projects-card {
    border-radius: 16px;
    height: 420px;
    overflow: hidden;
    width: 250px;
}

.gj\:swiper\:projects-card-image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.gj\:swiper\:projects-play-pause {
    display: flex;
    align-items: center;
    border: 2px solid var(--gj-light-bg);
    border-radius: 100%;
    flex-direction: column;
    height: 48px;
    justify-content: center;
    width: 48px;
}
