.gj\:skills\:title {
    height: 1px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    width: 1px;
}

.gj\:skills\:wrapper {
    display: flex;
    align-items: flex-start;
    height: 680px;
    max-width: 1220px;
    margin-inline: auto;
    margin-block: 80px;
    overflow: hidden;
    width: 100%;

    /* background-color: black; */
}

.gj\:skills\:menu,
.gj\:skills\:menu-content {
    height: 100%;
    max-width: 50%;
    width: 100%;
}

.gj\:skills\:nav {
    position: relative;
    background-color: var(--gj-main-bg);
    border-radius: 0 0 16px 0;
    padding: 8px;
    /* bottom: -6px;
    left: 6px; */
}

.gj\:skills\:nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.gj\:skills\:nav-button {
    display: flex;
    align-items: center;
    border-radius: 100px;
    column-gap: 4px;
    color: var(--gj-fonts-light);
    cursor: pointer;
    flex-direction: row;
    flex-grow: 1;
    background-color: var(--gj-second-bg);
    padding-block: 8px;
    padding-inline: 16px;
}

.gj\:skills\:icon-selected,
.gj\:skills\:icon-no-selected {
    display: block;
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
}

.gj\:skills\:icon-selected {
    display: none;
}

.gj\:skills\:menubox {
    position: relative;
    background-color: var(--gj-second-bg);
    border-radius: 16px 0px 0px 16px;
    padding: 24px;
}

.gj\:skills\:content {
    background-color: var(--gj-second-bg);
    border-radius: 16px 16px 16px 0;
    padding: 24px;
}

.gj\:skills\:corner {
    background-color: var(--gj-second-bg);
    position: absolute;
    height: 16px;
    overflow: hidden;
    right: 0;
    top: -16px;
    width: 16px;
    z-index: -1;
}

.gj\:skills\:corner-circle {
    display: block;
    background-color: var(--gj-main-bg);
    border-radius: 100%;
    content: "";
    height: 25px;
    left: -50%;
    position: relative;
    top: -50%;
    width: 25px;
}

.gj\:skills\:nav-button-active {
    background-color: var(--gj-black);
}

.gj\:skills\:menubox-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    padding-inline: 0;
}

.gj\:skills\:menubox-list-item {
    display: flex;
    align-items: center;
    background-color: var(--gj-main-bg);
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
}

.gj\:skills\:menubox-list-item:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--gj-emphasis-color);
}

.gj\:skills\:grid\:span-col-2 {
    /* aspect-ratio: 16/9; */
    grid-column: span 2;
}

.gj\:skills\:grid\:span-row-2 {
    /* aspect-ratio: 16/9; */
    grid-row: span 2;
}

.gj\:skills\:grid\:span-row-col-2 {
    /* aspect-ratio: 1/1; */
    grid-row: span 2;
    grid-column: span 2;
}

.gj\:skills\:grid\:span-row-col-1 {
    /* aspect-ratio: 1/1; */
    grid-row: span 2;
    grid-column: span 2;
}

.gj\:skills\:menubox-icon {
    display: block;
    color: var(--gj-emphasis-color);
    height: 120px;
    min-height: 120px;
    min-width: 120px;
    margin-inline: auto;
    width: 120px;
}

.gj\:skills\:content-title {
    color: var(--gj-fonts-light);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.gj\:skills\:content-load-bar {
    background-color: var(--gj-main-bg);
    border-radius: 100px;
    height: 4px;
    margin-inline: auto;
    max-width: 400px;
    width: 100%;
}

.gj\:skills\:content-load-bar-status {
    display: block;
    background-color: var(--gj-percentage-color);
    border-radius: inherit;
    height: 100%;
    width: var(--gj-percentage);
}

.gj\:skills\:content-list {
    columns: 2;
    line-height: 24px;
    margin-block: 80px;
    padding-inline: 48px;
}

.gj\:skills\:content-list > li::marker {
    color: var(--gj-marker-color);
}

.gj\:skills\:content-list > li {
    color: var(--gj-fonts-light);
    font-size: 16px;
}

.gj\:skills\:nav-footer-buttons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.gj\:skills\:nav-footer-buttons {
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.gj\:skills\:nav-footer-button {
    background-color: var(--gj-main-bg);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    color: var(--gj-icon-color);
    height: 100%;
    max-width: 48px;
    max-height: 48px;
    min-height: 48px;
    min-width: 48px;
    width: 100%;
}

.gj\:skills\:nav-button-active
.gj\:layout\:svg-wrapper > .gj\:skills\:icon-selected {
    display: block;
}

.gj\:skills\:nav-button-active
.gj\:layout\:svg-wrapper > .gj\:skills\:icon-no-selected {
    display: none;
}