---
import "./src/css/layout.css";
import LoaderMask from "./src/components/LoaderMask.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GJ | { title }</title>
	</head>
	<body>
		<div class="gj:layout:base" id="gjLayoutBase">
			<header class="gj:layout:header">
				<div class="gj:layout:header-menu">
					<button class="gj:layout:header-menu-button" type="button">
						<span class="gj:layout:svg-wrapper">
							<svg class="gj:layout:header-menu-logo" viewBox="0 0 320 223" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M107.49 223C92.453 223 78.3437 220.216 65.1626 214.648C52.1672 208.894 40.7498 201.006 30.9105 190.984C21.2568 180.776 13.6452 168.897 8.07571 155.348C2.6919 141.799 0 127.137 0 111.361C0 95.7703 2.6919 81.2934 8.07571 67.9301C13.6452 54.3812 21.2568 42.5955 30.9105 32.573C40.7498 22.365 52.1672 14.3841 65.1626 8.63045C78.158 2.87682 92.2673 0 107.49 0C121.785 0 134.038 1.85601 144.249 5.56803C154.645 9.28006 165.042 15.4049 175.438 23.9426C176.923 25.0562 178.037 26.2626 178.78 27.5618C179.708 28.6754 180.265 29.8818 180.45 31.181C180.822 32.2946 181.007 33.6866 181.007 35.357C181.007 38.8835 179.708 41.8531 177.109 44.2659C174.695 46.6787 171.632 47.9779 167.919 48.1635C164.392 48.3491 161.05 47.1427 157.894 44.5443C151.025 38.6051 143.878 34.0578 136.452 30.9026C129.211 27.7474 119.558 26.1698 107.49 26.1698C96.5372 26.1698 86.2337 28.397 76.58 32.8514C66.9263 37.3059 58.3865 43.4307 50.9605 51.226C43.7202 59.0212 38.0579 68.1157 33.9737 78.5094C29.8894 88.7174 27.8473 99.6679 27.8473 111.361C27.8473 123.239 29.8894 134.375 33.9737 144.769C38.0579 154.977 43.7202 163.979 50.9605 171.774C58.3865 179.569 66.9263 185.694 76.58 190.149C86.2337 194.417 96.5372 196.552 107.49 196.552C116.959 196.552 125.87 194.974 134.224 191.819C142.764 188.478 150.932 183.931 158.729 178.177C162.071 175.764 165.32 174.744 168.476 175.115C171.818 175.3 174.602 176.6 176.83 179.012C179.058 181.24 180.172 184.395 180.172 188.478C180.172 190.334 179.801 192.19 179.058 194.046C178.501 195.717 177.387 197.294 175.716 198.779C165.877 206.945 155.202 213.07 143.692 217.154C132.182 221.051 120.115 223 107.49 223ZM180.172 188.478L152.325 182.91V133.076H113.895C109.811 133.076 106.377 131.87 103.592 129.457C100.807 127.044 99.4148 123.982 99.4148 120.27C99.4148 116.558 100.807 113.495 103.592 111.082C106.377 108.67 109.811 107.463 113.895 107.463H165.97C170.24 107.463 173.674 108.855 176.273 111.639C178.872 114.238 180.172 117.671 180.172 121.94V188.478Z" fill="white"/>
								<path d="M320 127.821C320 140.813 317.215 152.413 311.646 162.622C305.891 172.644 298.001 180.532 287.976 186.286C277.765 191.854 266.162 194.638 253.167 194.638C248.897 194.638 245.462 193.246 242.863 190.462C240.078 187.678 238.686 184.244 238.686 180.161C238.686 175.892 240.078 172.458 242.863 169.86C245.462 167.076 248.897 165.684 253.167 165.684C261.149 165.684 268.204 164.106 274.33 160.951C280.457 157.61 285.284 153.156 288.811 147.588C292.153 141.834 293.824 135.245 293.824 127.821C293.824 120.397 292.153 113.808 288.811 108.055C285.284 102.301 280.457 97.8467 274.33 94.6915C268.204 91.3506 261.149 89.6802 253.167 89.6802L114.209 89.6802C109.939 89.6802 106.504 88.381 103.905 85.7826C101.12 82.9986 99.728 79.565 99.728 75.4817C99.728 71.2129 101.12 67.6865 103.905 64.9025C106.504 62.1184 109.939 60.7264 114.209 60.7264L253.167 60.7264C266.162 60.7264 277.765 63.6032 287.976 69.3569C298.001 75.1105 305.891 82.9986 311.646 93.021C317.215 103.044 320 114.644 320 127.821Z" fill="#242424"/>
								<path d="M278.055 128.865C278.055 138.475 270.263 146.265 260.65 146.265C251.038 146.265 243.246 138.475 243.246 128.865C243.246 119.255 251.038 111.465 260.65 111.465C270.263 111.465 278.055 119.255 278.055 128.865Z" fill="white"/>
							</svg>
						</span>
					</button>
				</div>
				<div class="gj:layout:header-options">
					<div class="gj:layout:header-share">
						<button class="gj:layout:header-share-button" type="button">
							<span class="gj:layout:svg-wrapper">
								<svg class="gj:layout:header-share-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27.1519 34.542L16.9319 28.968C15.9509 29.9418 14.7035 30.6033 13.3471 30.8693C11.9906 31.1352 10.5858 30.9935 9.30976 30.4622C8.03369 29.9309 6.9435 29.0336 6.17661 27.8836C5.40973 26.7336 5.00049 25.3823 5.00049 24C5.00049 22.6177 5.40973 21.2664 6.17661 20.1164C6.9435 18.9664 8.03369 18.0691 9.30976 17.5378C10.5858 17.0065 11.9906 16.8648 13.3471 17.1307C14.7035 17.3967 15.9509 18.0582 16.9319 19.032L27.1519 13.458C26.8014 11.8135 27.0546 10.0977 27.8651 8.62451C28.6756 7.15129 29.9894 6.01906 31.5661 5.43487C33.1428 4.85067 34.8772 4.85355 36.4519 5.44297C38.0267 6.0324 39.3367 7.16898 40.1423 8.64487C40.948 10.1208 41.1954 11.8374 40.8395 13.4807C40.4835 15.1241 39.5479 16.5844 38.2037 17.5946C36.8596 18.6048 35.1967 19.0975 33.5191 18.9824C31.8416 18.8673 30.2616 18.1523 29.0679 16.968L18.8479 22.542C19.0523 23.5026 19.0523 24.4954 18.8479 25.456L29.0679 31.032C30.2616 29.8477 31.8416 29.1327 33.5191 29.0176C35.1967 28.9025 36.8596 29.3952 38.2037 30.4054C39.5479 31.4156 40.4835 32.8759 40.8395 34.5193C41.1954 36.1626 40.948 37.8792 40.1423 39.3551C39.3367 40.831 38.0267 41.9676 36.4519 42.557C34.8772 43.1465 33.1428 43.1493 31.5661 42.5651C29.9894 41.9809 28.6756 40.8487 27.8651 39.3755C27.0546 37.9023 26.8014 36.1865 27.1519 34.542Z" fill="white"/>
								</svg>
							</span>
						</button>
						<ul class="gj:layout:header-share-list" id="headerShareList">
							<li>
								<a class="gj:layout:header-share-list-button" href="#facebook">
									<span class="gj:layout:svg-wrapper">
										<svg class="gj:layout:header-share-list-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.001 2C6.47798 2 2.00098 6.477 2.00098 12C2.00098 16.991 5.65798 21.128 10.439 21.878V14.891H7.89898V12H10.439V9.797C10.439 7.291 11.931 5.907 14.216 5.907C15.31 5.907 16.454 6.102 16.454 6.102V8.562H15.194C13.951 8.562 13.564 9.333 13.564 10.124V12H16.337L15.894 14.89H13.564V21.878C18.344 21.129 22 16.992 22 12C22 6.477 17.524 2 12.001 2Z" fill="white"/>
										</svg>
									</span>
								</a>
							</li>
							<li>
								<a class="gj:layout:header-share-list-button" href="#whatsapp">
									<span class="gj:layout:svg-wrapper">
										<svg class="gj:layout:header-share-list-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M20.9249 6.36C17.7899 1.5 11.3699 0.0599962 6.40493 3.075C1.55993 6.09 -7.15256e-05 12.66 3.13493 17.505L3.38993 17.895L2.33993 21.825L6.26993 20.775L6.65993 21.03C8.35493 21.945 10.1999 22.47 12.0299 22.47C13.9949 22.47 15.9599 21.945 17.6549 20.895C22.4999 17.745 23.9399 11.31 20.9249 6.33V6.36ZM18.1799 16.47C17.6549 17.25 16.9949 17.775 16.0799 17.91C15.5549 17.91 14.8949 18.165 12.2849 17.13C10.0649 16.08 8.21993 14.37 6.91493 12.405C6.13493 11.49 5.72993 10.305 5.60993 9.12C5.60993 8.07 5.99993 7.155 6.65993 6.495C6.91493 6.24 7.18493 6.105 7.43993 6.105H8.09993C8.35493 6.105 8.62493 6.105 8.75993 6.63C9.01493 7.29 9.67493 8.865 9.67493 9C9.80993 9.135 9.74993 10.14 9.14993 10.71C8.81993 11.085 8.75993 11.1 8.89493 11.37C9.41993 12.15 10.0799 12.945 10.7249 13.605C11.5049 14.265 12.2999 14.79 13.2149 15.18C13.4699 15.315 13.7399 15.315 13.8749 15.045C14.0099 14.79 14.6549 14.13 14.9249 13.86C15.1799 13.605 15.3149 13.605 15.5849 13.725L17.6849 14.775C17.9399 14.91 18.2099 15.03 18.3449 15.165C18.4799 15.555 18.4799 16.08 18.2099 16.47H18.1799Z" fill="white"/>
										</svg>
									</span>
								</a>
							</li>
							<li>
								<a class="gj:layout:header-share-list-button" href="#instagram">
									<span class="gj:layout:svg-wrapper">
										<svg class="gj:layout:header-share-list-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13.0281 2C14.1531 2.003 14.7241 2.009 15.2171 2.023L15.4111 2.03C15.6351 2.038 15.8561 2.048 16.1231 2.06C17.1871 2.11 17.9131 2.278 18.5501 2.525C19.2101 2.779 19.7661 3.123 20.3221 3.678C20.8308 4.17773 21.2243 4.78247 21.4751 5.45C21.7221 6.087 21.8901 6.813 21.9401 7.878C21.9521 8.144 21.9621 8.365 21.9701 8.59L21.9761 8.784C21.9911 9.276 21.9971 9.847 21.9991 10.972L22.0001 11.718V13.028C22.0025 13.7574 21.9948 14.4868 21.9771 15.216L21.9711 15.41C21.9631 15.635 21.9531 15.856 21.9411 16.122C21.8911 17.187 21.7211 17.912 21.4751 18.55C21.2243 19.2175 20.8308 19.8223 20.3221 20.322C19.8223 20.8307 19.2176 21.2242 18.5501 21.475C17.9131 21.722 17.1871 21.89 16.1231 21.94L15.4111 21.97L15.2171 21.976C14.7241 21.99 14.1531 21.997 13.0281 21.999L12.2821 22H10.9731C10.2433 22.0026 9.5136 21.9949 8.78408 21.977L8.59008 21.971C8.35269 21.962 8.11535 21.9517 7.87808 21.94C6.81408 21.89 6.08808 21.722 5.45008 21.475C4.78291 21.2241 4.17852 20.8306 3.67908 20.322C3.17003 19.8224 2.77619 19.2176 2.52508 18.55C2.27808 17.913 2.11008 17.187 2.06008 16.122L2.03008 15.41L2.02508 15.216C2.00665 14.4868 1.99831 13.7574 2.00008 13.028V10.972C1.99731 10.2426 2.00465 9.5132 2.02208 8.784L2.02908 8.59C2.03708 8.365 2.04708 8.144 2.05908 7.878C2.10908 6.813 2.27708 6.088 2.52408 5.45C2.77577 4.7822 3.1703 4.17744 3.68008 3.678C4.17923 3.16955 4.78327 2.77607 5.45008 2.525C6.08808 2.278 6.81308 2.11 7.87808 2.06C8.14408 2.048 8.36608 2.038 8.59008 2.03L8.78408 2.024C9.51327 2.00623 10.2427 1.99857 10.9721 2.001L13.0281 2ZM12.0001 7C10.674 7 9.40223 7.52678 8.46455 8.46447C7.52687 9.40215 7.00008 10.6739 7.00008 12C7.00008 13.3261 7.52687 14.5979 8.46455 15.5355C9.40223 16.4732 10.674 17 12.0001 17C13.3262 17 14.5979 16.4732 15.5356 15.5355C16.4733 14.5979 17.0001 13.3261 17.0001 12C17.0001 10.6739 16.4733 9.40215 15.5356 8.46447C14.5979 7.52678 13.3262 7 12.0001 7ZM12.0001 9C12.394 8.99993 12.7842 9.07747 13.1482 9.22817C13.5122 9.37887 13.8429 9.5998 14.1215 9.87833C14.4002 10.1569 14.6212 10.4875 14.772 10.8515C14.9229 11.2154 15.0005 11.6055 15.0006 11.9995C15.0006 12.3935 14.9231 12.7836 14.7724 13.1476C14.6217 13.5116 14.4008 13.8423 14.1223 14.121C13.8437 14.3996 13.513 14.6206 13.1491 14.7714C12.7851 14.9223 12.395 14.9999 12.0011 15C11.2054 15 10.4424 14.6839 9.87976 14.1213C9.31715 13.5587 9.00108 12.7956 9.00108 12C9.00108 11.2044 9.31715 10.4413 9.87976 9.87868C10.4424 9.31607 11.2054 9 12.0011 9M17.2511 5.5C16.9196 5.5 16.6016 5.6317 16.3672 5.86612C16.1328 6.10054 16.0011 6.41848 16.0011 6.75C16.0011 7.08152 16.1328 7.39946 16.3672 7.63388C16.6016 7.8683 16.9196 8 17.2511 8C17.5826 8 17.9005 7.8683 18.135 7.63388C18.3694 7.39946 18.5011 7.08152 18.5011 6.75C18.5011 6.41848 18.3694 6.10054 18.135 5.86612C17.9005 5.6317 17.5826 5.5 17.2511 5.5Z" fill="white"/>
										</svg>
									</span>
								</a>
							</li>
							<li>
								<a class="gj:layout:header-share-list-button" href="#link">
									<span class="gj:layout:svg-wrapper">
										<svg class="gj:layout:header-share-list-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18.364 15.536L16.95 14.12L18.364 12.706C19.2949 11.7669 19.8159 10.4973 19.813 9.17504C19.8101 7.85275 19.2836 6.58545 18.3486 5.65045C17.4136 4.71545 16.1463 4.18889 14.824 4.186C13.5017 4.1831 12.2321 4.70411 11.293 5.635L9.87801 7.05L8.46401 5.636L9.87801 4.222C11.1908 2.90918 12.9714 2.17165 14.828 2.17165C16.6846 2.17165 18.4652 2.90918 19.778 4.222C21.0908 5.53483 21.8284 7.31539 21.8284 9.172C21.8284 11.0286 21.0908 12.8092 19.778 14.122L18.364 15.536ZM15.535 18.364L14.121 19.778C12.8082 21.0908 11.0276 21.8284 9.17101 21.8284C7.3144 21.8284 5.53383 21.0908 4.22101 19.778C2.90819 18.4652 2.17065 16.6846 2.17065 14.828C2.17065 12.9714 2.90819 11.1908 4.22101 9.878L5.63601 8.464L7.05001 9.88L5.63601 11.294C4.71788 12.2356 4.20768 13.5009 4.21592 14.816C4.22416 16.1311 4.75018 17.39 5.68003 18.32C6.60989 19.25 7.8687 19.7762 9.18378 19.7846C10.4989 19.793 11.7643 19.283 12.706 18.365L14.121 16.951L15.535 18.364ZM14.828 7.757L16.243 9.172L9.17101 16.242L7.75701 14.828L14.828 7.757Z" fill="white"/>
										</svg>
									</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="gj:layout:header-themes">
						<input class="gj:layout:header-switch-theme" type="checkbox" id="gjSwitchTheme" />
						<label class="gj:layout:header-theme-button" for="gjSwitchTheme">
							<span class="gj:layout:svg-wrapper">
								<svg class="gj:layout:header-theme-icon gj:layout:header-theme-icon-dark" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.644 4.476C14.1044 7.81812 13.6261 11.5518 14.2734 15.1741C14.9208 18.7964 16.6628 22.1333 19.2648 24.7352C21.8667 27.3372 25.2036 29.0792 28.8259 29.7266C32.4482 30.3739 36.1819 29.8956 39.524 28.356C37.536 37.308 29.55 44 20 44C8.954 44 0 35.046 0 24C0 14.45 6.692 6.464 15.644 4.476ZM32.328 4.582L34 5V7L32.328 7.418C31.6248 7.59387 30.9826 7.95751 30.4701 8.47006C29.9575 8.98261 29.5939 9.6248 29.418 10.328L29 12H27L26.582 10.328C26.4061 9.6248 26.0425 8.98261 25.5299 8.47006C25.0174 7.95751 24.3752 7.59387 23.672 7.418L22 7V5L23.672 4.582C24.3748 4.40582 25.0166 4.04203 25.5288 3.5295C26.041 3.01698 26.4043 2.37495 26.58 1.672L27 0H29L29.418 1.672C29.5939 2.3752 29.9575 3.01739 30.4701 3.52994C30.9826 4.04249 31.6248 4.40613 32.328 4.582ZM42.328 14.582L44 15V17L42.328 17.418C41.6248 17.5939 40.9826 17.9575 40.4701 18.4701C39.9575 18.9826 39.5939 19.6248 39.418 20.328L39 22H37L36.582 20.328C36.4061 19.6248 36.0425 18.9826 35.5299 18.4701C35.0174 17.9575 34.3752 17.5939 33.672 17.418L32 17V15L33.672 14.582C34.3752 14.4061 35.0174 14.0425 35.5299 13.5299C36.0425 13.0174 36.4061 12.3752 36.582 11.672L37 10H39L39.418 11.672C39.5939 12.3752 39.9575 13.0174 40.4701 13.5299C40.9826 14.0425 41.6248 14.4061 42.328 14.582Z" fill="white" />
								</svg>
								<svg class="gj:layout:header-theme-icon gj:layout:header-theme-icon-light" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24">
									<path fill="currentColor" d="M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1zm-3-9.995V6l-4.5 6.005H11v4l4.5-6z" fill="white" />
								</svg>
							</span>
							<span class="gj:layout:header-theme-status gj:layout:header-theme-status-dark">Obscuro</span>
							<span class="gj:layout:header-theme-status gj:layout:header-theme-status-light">Claro</span>
							<span class="gj:layout:svg-wrapper">
								<svg class="gj:layout:header-theme-flag" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.9999 38.328L36.4139 25.914L33.5859 23.086L23.9999 32.672L14.4139 23.086L11.5859 25.914L23.9999 38.328ZM23.9999 27.028L36.4139 14.614L33.5859 11.786L23.9999 21.372L14.4139 11.786L11.5859 14.614L23.9999 27.028Z" fill="#484848"/>
								</svg>
							</span>
						</label>
					</div>
				</div>
			</header>
			<main class="gj:layout:base-main">
				<slot />
			</main>
			<footer class="gj:layout:footer">
				<div class="gj:layout:footer-menu-wrapper">
					<ul class="gj:layout:footer-menu-list" id="footerMenuList">
						<li>
							<a class="gj:layout:footer-menu-button" href="/">
								<span class="gj:layout:svg-wrapper">
									<svg class="gj:layout:footer-menu-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M24 4C28.5087 4 32.8327 5.79107 36.0208 8.97919C39.2089 12.1673 41 16.4913 41 21C41 34 30 45 24 45C18 45 7 34 7 21C7 16.4913 8.79107 12.1673 11.9792 8.97919C15.1673 5.79107 19.4913 4 24 4ZM35 24C33.7379 24 32.49 24.2654 31.3372 24.779C30.1843 25.2925 29.1524 26.0429 28.3084 26.9812C27.4644 27.9195 26.8272 29.0248 26.4381 30.2254C26.049 31.426 25.9168 32.695 26.05 33.95C26.3633 33.9833 26.68 34 27 34C28.2621 34 29.51 33.7346 30.6628 33.2211C31.8157 32.7075 32.8476 31.9571 33.6916 31.0188C34.5356 30.0805 35.1728 28.9752 35.5619 27.7746C35.951 26.574 36.0832 25.305 35.95 24.05C35.6343 24.0183 35.3173 24.0016 35 24ZM13 24C12.68 24 12.3633 24.0167 12.05 24.05C11.9083 25.3848 12.0669 26.7345 12.5143 28C12.9617 29.2656 13.6866 30.4151 14.6357 31.3643C15.5849 32.3134 16.7344 33.0383 18 33.4857C19.2655 33.9331 20.6152 34.0917 21.95 33.95C21.9833 33.6367 22 33.32 22 33C22 30.6131 21.0518 28.3239 19.364 26.636C17.6761 24.9482 15.3869 24 13 24Z" fill="currentColor"/>
									</svg>
								</span>
							</a>
							<span class="gj:layout:footer-menu-label">Inicio</span>
						</li>
						<li>
							<a class="gj:layout:footer-menu-button" href="habilidades">
								<span class="gj:layout:svg-wrapper">
									<svg class="gj:layout:footer-menu-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5 14C5 15.1819 5.23279 16.3522 5.68508 17.4442C6.13738 18.5361 6.80031 19.5282 7.63604 20.364C8.47177 21.1997 9.46392 21.8626 10.5558 22.3149C11.6478 22.7672 12.8181 23 14 23C15.1819 23 16.3522 22.7672 17.4442 22.3149C18.5361 21.8626 19.5282 21.1997 20.364 20.364C21.1997 19.5282 21.8626 18.5361 22.3149 17.4442C22.7672 16.3522 23 15.1819 23 14C23 11.6131 22.0518 9.32387 20.364 7.63604C18.6761 5.94821 16.3869 5 14 5C11.6131 5 9.32387 5.94821 7.63604 7.63604C5.94821 9.32387 5 11.6131 5 14ZM5 34C5 35.1819 5.23279 36.3522 5.68508 37.4442C6.13738 38.5361 6.80031 39.5282 7.63604 40.364C8.47177 41.1997 9.46392 41.8626 10.5558 42.3149C11.6478 42.7672 12.8181 43 14 43C15.1819 43 16.3522 42.7672 17.4442 42.3149C18.5361 41.8626 19.5282 41.1997 20.364 40.364C21.1997 39.5282 21.8626 38.5361 22.3149 37.4442C22.7672 36.3522 23 35.1819 23 34C23 31.6131 22.0518 29.3239 20.364 27.636C18.6761 25.9482 16.3869 25 14 25C11.6131 25 9.32387 25.9482 7.63604 27.636C5.94821 29.3239 5 31.6131 5 34ZM25 34C25 36.3869 25.9482 38.6761 27.636 40.364C29.3239 42.0518 31.6131 43 34 43C36.387 43 38.6761 42.0518 40.364 40.364C42.0518 38.6761 43 36.3869 43 34C43 31.6131 42.0518 29.3239 40.364 27.636C38.6761 25.9482 36.387 25 34 25C31.6131 25 29.3239 25.9482 27.636 27.636C25.9482 29.3239 25 31.6131 25 34ZM35.05 22.31L35.606 21.038C36.5769 18.7838 38.3583 16.976 40.598 15.972L42.306 15.212C43.232 14.802 43.232 13.456 42.306 13.046L40.694 12.328C38.3956 11.299 36.5815 9.42475 35.628 7.094L35.058 5.718C34.9732 5.50675 34.8272 5.32571 34.6386 5.1982C34.45 5.07069 34.2276 5.00254 34 5.00254C33.7724 5.00254 33.55 5.07069 33.3614 5.1982C33.1728 5.32571 33.0268 5.50675 32.942 5.718L32.372 7.094C31.4185 9.42475 29.6044 11.299 27.306 12.328L25.694 13.046C24.768 13.456 24.768 14.802 25.694 15.212L27.402 15.972C29.6417 16.976 31.4231 18.7838 32.394 21.038L32.95 22.31C33.0373 22.5164 33.1834 22.6924 33.3701 22.8162C33.5569 22.94 33.776 23.006 34 23.006C34.2241 23.006 34.4431 22.94 34.6299 22.8162C34.8166 22.6924 34.9627 22.5164 35.05 22.31Z" fill="currentColor"/>
									</svg>
								</span>
							</a>
							<span class="gj:layout:footer-menu-label">Habilidades</span>
						</li>
						<li>
							<a class="gj:layout:footer-menu-button" href="proyectos">
								<span class="gj:layout:svg-wrapper">
									<svg class="gj:layout:footer-menu-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M32.6601 26.994C34.3254 25.6849 35.6714 24.0144 36.5965 22.1088C37.5216 20.2032 38.0015 18.1123 38.0001 15.994H42.0001C42.0019 18.8146 41.34 21.5961 40.0681 24.1136C38.7961 26.6311 36.9497 28.8141 34.6781 30.486L39.7321 39.242C40.2625 40.1607 40.4062 41.2525 40.1317 42.2772C39.8571 43.3019 39.1868 44.1756 38.2681 44.706L31.2141 32.49C28.9389 33.4835 26.4827 33.9955 24.0001 33.994C21.5174 33.9955 19.0613 33.4835 16.7861 32.49L9.73207 44.706C8.81338 44.1756 8.14302 43.3019 7.86847 42.2772C7.59392 41.2525 7.73766 40.1607 8.26807 39.242L18.3961 21.702C17.386 20.709 16.6575 19.4658 16.285 18.0992C15.9125 16.7326 15.9093 15.2917 16.2758 13.9235C16.6422 12.5553 17.3652 11.3088 18.3709 10.3114C19.3765 9.31393 20.6289 8.60122 22.0001 8.24602V3.99402H26.0001V8.24602C27.3714 8.60096 28.624 9.31348 29.6299 10.3108C30.6358 11.3082 31.359 12.5546 31.7257 13.9228C32.0923 15.2911 32.0893 16.7321 31.7169 18.0988C31.3446 19.4655 30.6161 20.7089 29.6061 21.702L32.6601 26.994ZM29.2001 28.996L26.1441 23.704C24.7426 24.0935 23.2615 24.0935 21.8601 23.704L18.8041 28.996C20.4575 29.6562 22.2217 29.9949 24.0021 29.994C25.7824 29.9949 27.5466 29.6562 29.2001 28.996ZM24.0001 17.994C24.5305 17.994 25.0392 17.7833 25.4143 17.4082C25.7894 17.0332 26.0001 16.5245 26.0001 15.994C26.0001 15.4636 25.7894 14.9549 25.4143 14.5798C25.0392 14.2047 24.5305 13.994 24.0001 13.994C23.4696 13.994 22.9609 14.2047 22.5859 14.5798C22.2108 14.9549 22.0001 15.4636 22.0001 15.994C22.0001 16.5245 22.2108 17.0332 22.5859 17.4082C22.9609 17.7833 23.4696 17.994 24.0001 17.994Z" fill="currentColor"/>
									</svg>
								</span>
							</a>
							<span class="gj:layout:footer-menu-label">Proyectos</span>
						</li>
						<li>
							<a class="gj:layout:footer-menu-button" href="experiencia">
								<span class="gj:layout:svg-wrapper">
									<svg class="gj:layout:footer-menu-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 36H19V38.5C19 39.9587 18.4205 41.3577 17.3891 42.3891C16.3576 43.4206 14.9587 44 13.5 44C12.0413 44 10.6424 43.4206 9.61091 42.3891C8.57946 41.3577 8 39.9587 8 38.5V36ZM16 12.24C20 12.24 22 18 22 22C22 24 21 26 20 29L19 32H8C8 30 7 27 7 22C7 17 10.996 12.24 16 12.24ZM40.108 28.196L39.674 30.658C39.4047 32.0793 38.5863 33.3372 37.396 34.1593C36.2058 34.9815 34.7397 35.3016 33.3151 35.0504C31.8905 34.7992 30.6223 33.9969 29.785 32.8173C28.9478 31.6377 28.609 30.1757 28.842 28.748L29.274 26.288L40.108 28.196ZM36.356 3.41004C41.284 4.27804 44.392 9.66004 43.524 14.584C42.656 19.508 41.15 22.288 40.804 24.258L29.97 22.348L29.506 19.22C29.042 16.092 28.406 13.948 28.752 11.98C29.446 8.04004 32.416 2.71604 36.356 3.41004Z" fill="currentColor"/>
									</svg>
								</span>
							</a>
							<span class="gj:layout:footer-menu-label">Experiencia</span>
						</li>
						<li>
							<a class="gj:layout:footer-menu-button" href="acerca-de-mi">
								<span class="gj:layout:svg-wrapper">
									<svg class="gj:layout:footer-menu-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M24 4C28.7739 4 33.3523 5.89642 36.7279 9.27208C40.1036 12.6477 42 17.2261 42 22V37C42.0007 38.4959 41.5222 39.9527 40.6347 41.1568C39.7471 42.3609 38.4971 43.249 37.068 43.6909C35.6389 44.1329 34.1058 44.1054 32.6935 43.6125C31.2811 43.1195 30.0638 42.1872 29.22 40.952C28.6975 41.8773 27.9386 42.6473 27.0209 43.183C26.1032 43.7187 25.0596 44.0011 23.997 44.0011C22.9344 44.0011 21.8908 43.7187 20.9731 43.183C20.0554 42.6473 19.2965 41.8773 18.774 40.952C17.948 42.1577 16.7654 43.0746 15.392 43.5742C14.0185 44.0738 12.5232 44.131 11.1156 43.7377C9.70801 43.3445 8.45882 42.5205 7.5432 41.3814C6.62758 40.2423 6.09145 38.8452 6.01 37.386L6 36.998V22C6 17.2261 7.89642 12.6477 11.2721 9.27208C14.6477 5.89642 19.2261 4 24 4ZM32 26H28C28.0046 27.038 27.6056 28.0371 26.8872 28.7863C26.1689 29.5355 25.1874 29.9761 24.1501 30.0151C23.1129 30.054 22.1011 29.6882 21.3286 28.995C20.556 28.3018 20.0832 27.3354 20.01 26.3L20 26H16L16.01 26.4C16.1126 28.4499 16.9992 30.382 18.4863 31.7966C19.9735 33.2112 21.9475 34.0001 24 34.0001C26.0525 34.0001 28.0265 33.2112 29.5137 31.7966C31.0008 30.382 31.8874 28.4499 31.99 26.4L32 26ZM24 14C22.9391 14 21.9217 14.4214 21.1716 15.1716C20.4214 15.9217 20 16.9391 20 18C20 19.0609 20.4214 20.0783 21.1716 20.8284C21.9217 21.5786 22.9391 22 24 22C25.0609 22 26.0783 21.5786 26.8284 20.8284C27.5786 20.0783 28 19.0609 28 18C28 16.9391 27.5786 15.9217 26.8284 15.1716C26.0783 14.4214 25.0609 14 24 14Z" fill="currentColor"/>
									</svg>
								</span>
							</a>
							<span class="gj:layout:footer-menu-label">Un poco de mi</span>
						</li>
					</ul>
				</div>
			</footer>
		</div>
		<div class="gj:layout:shining"></div>
		<div class="gj:layout:left-post:wrapper">
			<div class="gj:layout:left-post">
				<div class="gj:layout:post:bar-dotted">
					<div class="gj:layout:post:bar-solid"></div>
				</div>
				<p class="gj:layout:post:text">Guillermo Jimenez</p>
			</div>
		</div>
		<div class="gj:layout:right-post:wrapper">
			<div class="gj:layout:right-post">
				<div class="gj:layout:post:bar-dotted">
					<div class="gj:layout:post:bar-solid"></div>
				</div>
				<p class="gj:layout:post:text">Desarrollador Web</p>
			</div>
		</div>
		<!-- <LoaderMask /> -->
		<script src="./src/js/main.js" is:inline type="module"></script>
	</body>
</html>
